@use "../styles/variables" as *;

.character-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  width: 100%;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-lg;
}

.character-card {
  background-color: rgba(
    20,
    20,
    20,
    0.25
  ); // Semi-transparent version of $secondary-bg
  backdrop-filter: blur(16px);
  border: 1px solid rgba($border-color, 0.5);
  border-radius: $border-radius;
  padding: $spacing-md;
  cursor: pointer;
  transition: all $transition-speed ease;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $accent-color;
    transition: width $transition-speed ease;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    background-color: rgba(200, 0, 0, 0.2);
    transition: background-color 0.5s ease;
    &::before {
      width: 6px;
    }
  }

  .character-info {
    margin-left: $spacing-sm; // to make room for the left accent line
    margin-bottom: $spacing-md;
    padding-bottom: $spacing-sm;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-xs;

      .char-name {
        color: $accent-color;
        margin: 0;
        font-size: 1.5rem;
      }

      .clan-icon {
        height: 48px;
        width: auto;
        opacity: 0.7; // A bit subtle
        filter: brightness(0) invert(1); // Make it white/silhouetted if the origin is black
        transition:
          transform $transition-speed ease,
          opacity $transition-speed ease;
      }
    }

    &:hover .clan-icon {
      opacity: 1;
      transform: scale(1.1);
    }

    .char-clan {
      color: darken($text-color, 20%);
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .char-stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: darken($text-color, 10%);
    margin-left: $spacing-sm;
  }
}

.chronicle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-characters {
  text-align: center;
  color: darken($text-color, 40%);
  padding: $spacing-xl;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: $border-radius;
  border: 1px dashed $border-color;
}

@import "CharacterList-mobile";
