@use "../styles/variables" as *;

.create-card {
  @media (max-width: 768px) {
    padding: $spacing-md !important;
    width: calc(
      100% - #{$spacing-md} * 2
    ) !important; // Add more margin around the card
    margin: $spacing-sm auto $spacing-lg auto !important;
    box-sizing: border-box;

    .vampire-form {
      gap: $spacing-sm !important;

      .form-group {
        margin-bottom: $spacing-sm !important;

        label {
          font-size: 0.9rem;
          margin-bottom: 2px;
        }
      }

      input,
      select {
        padding: 0.6rem $spacing-sm !important; // Smaller inputs
        font-size: 0.9rem !important;
      }

      .submit-btn {
        margin-top: $spacing-sm !important;
        padding: 0.7rem !important;
        font-size: 1rem !important;
      }
    }
  }
}

.form-row {
  @media (max-width: 768px) {
    flex-direction: column !important;
    gap: 0 !important;
  }
}

.chronicle-input-group {
  @media (max-width: 768px) {
    flex-direction: column !important;
    gap: $spacing-xs !important;

    .cancel-btn {
      padding: 0.5rem !important;
      font-size: 0.9rem;
    }
  }
}
